.topspace-cates{
  overflow: hidden;
   margin-top: 20px;
    margin-bottom: 20px;
}

.row-cates-content{
  padding: 0px;
    margin: 0 auto;
}

#left-side-nav{
 margin:0px;
 padding:3px;
 position: relative;
}
 ul.category-menu {
 margin:0px;
 padding:0px;
	 background-color: white;
	 list-style-type:none;
	 
	 
}
ul.category-menu li.bg-cate{
	margin-left:10px;
	padding:10px;
	color:white;
	*background-color: #106CC8;
}
ul.category-menu li.cates-main{
	font-family:"Times New Roman",Khmer OS Battambang;
	font-size:14px;
	margin-left:10px;
	padding:10px;
	background-color: white;
	color:#000;
}
li.cates-main a{
	display: block;
	cursor: pointer;
    color: #000;
    margin-bottom:-9px;
    margin-top:-9px;
    margin-left:-10px;
    margin-right:-10px;
    padding: 10px 20px;
    text-decoration: none;
}
li.cates-main a:hover{
	 *background-color:#106CC8;
    color: white;
     cursor: pointer;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    *background-color: #106CC8;
    cursor: pointer;
}

.left-side-nav, .body-cates, .right-side-cate {
    float: left;
}

.body-cates{
    position: relative;
    margin:0px;
    padding:0px;
   
}

.fa-arrow-circle-down{
	padding-left:10px;
	padding-right:10px;
	padding-left:90px;
}
.banner{
	width:100%;
	position:relative;
}
#banner-technology{
	background-image: url(../img/technology.jpg);
	height: 180px;
	background-position:center;
	background-size: cover;
}
#banner-general{
	background-image: url(../img/general.jpg);
	height: 150px;
	background-position:center;
	background-size: cover;
}
#banner-lieral{
	background-image: url(../img/literal.jpg);
	height: 150px;
	background-position:center;
	background-size: cover;
}
#banner-business{
	background-image: url(../img/business.jpg);
	height: 150px;
	background-position:center;
	background-size: cover;
}
.banner .img-bg{
	text-align: center;
}
.banner .img-bg h1{
	color:#fff;
	text-shadow: 1px 1px #000;
	position: relative;
	top:40px;
}

