/* 
.footer{
	background-color: #374458;
*	position:fixed;
	width: 100%;
	height:50%;
	color:  white;
	margin-top: 30px;
	text-align:justify-all;
} */
.footer{
	background-color: #374458;
	width: 100% !important;
	height:50% !important;
	color:  white;
	margin-top: 30px;
	text-align:left;
	word-wrap:break-word !important;
}
.footer .list{
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.footer .list div{
	text-align: justify;
	font-weight: 400;
}
.footer .footer-img img{
	width: 50%;
}
.footer .footer-height{
	background-color: #21252b;
	height: 250px;
}
.footer .center{
	border-top: 1px solid black;
	text-align: center;	
*	background-color: #21252b;
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
	margin-top:10px;
}
.footer .copyright{
	border-bottom: 3px solid #3B5998;
}
.footer h3{
	*text-align: center;
}

/* back-to-top */
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: url(../img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #106CC8;
  opacity: 1;
}
